/* ##### demo-video Area CSS ##### */
.HomeDemo2 .demo-video {
  position: relative;
  background-color: #000;
}
.HomeDemo2 .demo-video .welcome-video-area {
  margin-top: 0;
}

@media (max-width: 992px) {
  .HomeDemo2 .vertical-social {
    display: none !important;
  }
}

.socialhorizontalholder {
  width: 100%;
  margin-top:26px;
}

ul#socialhoriz {
  display: inline;
}
.socialhorizontalholder li {
    display: inline;
    font-size: 30px;
    list-style-type: none;
    padding-right: 30px;
    float: center;
}

.socialhorizontalholder li a{
    color: #fff;
}

.socialhorizontalholder li a:hover{
    color: #F4B93A;
}


.HomeDemo2 .vertical-social {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: -20px;
  background: #3b0000;
  //height: 370px !important;
  height: 290px !important;
  margin-left: 30px;
  border-radius: 40px;
  padding: 30px 15px;
  z-index: 999;
  transition: 1s;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  box-shadow: 0px 4px 13px 0 rgba(253, 67, 67, 0.3);
  overflow: hidden;
  border-bottom: 3px solid #fd4343;
}

.HomeDemo2 .vertical-social ul {
  margin-bottom: 0px !important;
}

.HomeDemo2 .vertical-social li {
  padding: 7px 0;
  text-align: center;
}
.HomeDemo2 .vertical-social li a {
  color: #fff;
  opacity: 0.6;
  font-size: 22px;
}
.HomeDemo2 .vertical-social li a:hover {
  opacity: 1;
}

.dream-btn.video-btn {
  background-color: #4834d4;
  width: 70px;
  height: 70px !important;
  color: #fff !important;
  border-radius: 50% !important;
  line-height: 70px !important;
  padding: 0 !important;
  text-align: center !important;
  min-width: 70px !important;
  font-size: 24px !important;
}
