/* ##### trust Area CSS ##### */
.HomeDemo2 .trust-section {
  position: relative;
  padding: 60px 0 0px;
  
  background: url('./../../../assets/img/bg-img/background_metaverse.png') bottom no-repeat;
}

.bgpreto{
  background-color: #000;
}
.HomeDemo2 .trust-item {
  border-radius: 20px;
  margin-bottom: 40px;
  padding: 0 35px;
  min-height: 205px;
  padding-top: 37px;
  padding-bottom: 25px;
  overflow: hidden;
  border-bottom: 3px solid #8a2424;
  background: #030303;
  -webkit-box-shadow: -1px 2px 30px -2px rgba(175,54,54,1);
  -moz-box-shadow: -1px 2px 30px -2px rgba(175,54,54,1);
  box-shadow: -1px 2px 30px -2px rgba(175,54,54,1);
}

.HomeDemo2 .trust-item h4{
      width: 100%;
    text-align: center;
    color: #fff;
    font-family: 'Poppins', sans-serif !important;
    padding-left: 0px;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

.HomeDemo2 .trust-item p{
  width: 100%;
  text-align: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif !important;
}

.HomeDemo2 .ico-platform-logo {
  margin-bottom: 25px;
  min-height: 74px;
  width: 100%;
  text-align: center;
}
.HomeDemo2 .check {
  height: 40px;
  margin: 0 -10px;
  background-color: rgba(13, 0, 59, 0.9);
  border-radius: 5px;
  color: #25cbd3;
  position: relative;
}
.HomeDemo2 .check .value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: 600;
  text-shadow: 0 0 5px rgba(0, 243, 255, 0.5);
}
.HomeDemo2 .check .check-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(../../../assets/img/svg/checkmark.svg) 50% no-repeat;
  background-size: contain;
  width: 31px;
  height: 23px;
}

.bgpretohero{
  background-color: rgba(0, 0, 0, 0.767);
  padding:30px;
  border-radius: 20px;
  -webkit-box-shadow: -1px 2px 30px -2px rgba(175,54,54,1);
  -moz-box-shadow: -1px 2px 30px -2px rgba(175,54,54,1);
  box-shadow: -1px 2px 30px -2px rgba(175,54,54,1);
}

.example{
  position:absolute !important;
  }

.HomeDemo2 .token-distribution {
  padding-top: 60px;
  padding-bottom: 100px;
  overflow: hidden;
}

@media (max-width: 767px) {
  .HomeDemo2 .token-info-wapper {
    margin-top: 30px;
  }
}
.HomeDemo2 .token-info {
  padding: 0 12px;
  width: 100%;
  margin-bottom: 20px;
  float: left;
  display: -ms-flexbox;
  display: flex;
}
.HomeDemo2 .token-info .info-wrapper {
  border: 1px solid rgba(175,54,54,1);
  border-radius: 20px;
  padding: 19px 36px;
  padding-left: 65px;
  background-color: #030304;
  width: 100%;
  position: relative;
  -ms-flex: 1;
  flex: 1;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: -1px 2px 30px -2px rgba(175,54,54,1);
  -moz-box-shadow: -1px 2px 30px -2px rgba(175,54,54,1);
  box-shadow: -1px 2px 30px -2px rgba(175,54,54,1);
}
.HomeDemo2 .info-wrapper .token-icon {
  left: 20px;
  width: 38px;
  height: 38px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
}
.HomeDemo2 .info-wrapper .token-descr {
  display: block;
  font-size: 18px;
  font-weight: 600;
  color: #dadada;
  padding-left: 30px;
  font-weight: 300;
  line-height: 1.25;
  font-family: 'Poppins', sans-serif !important;
}

.HomeDemo2 .token-info .info-wrapper{
  padding-left: 40px;
}

.token-descr-title {
  font-family: 'Poppins', sans-serif !important;
  color: #fff;
  font-weight: bold;
  padding-left: 0px;
}
