/* ##### Partners Area ##### */
.HomeDemo2 .partners{
    padding: 0 0 00px
}
.HomeDemo2 .partner-box{
    min-height: 74%;
    border-radius: 10px;
    padding: 20px 10px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 30px;
    transition: all .3s ease-in-out;
}